/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.Branch;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class BranchesClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public BranchesClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Возвращает информацию о филиале
     * GET /dictionaries/branches/{id}
     *
     * @param id Идентификатор филиала (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация о филиале
     * @throws RestClientException в случае неудачи
    */
    public Branch getBranch(Long id, long timeout) throws RestClientException {
        return getBranch(id).get(timeout);
    }

    /**
     * Возвращает информацию о филиале асинхронно
     * GET /dictionaries/branches/{id}
     *
     * @param id Идентификатор филиала (required)
     * @return Информация о филиале
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Branch> getBranch(Long id) throws RestClientException {
        return new ClientRestResult<>(getBranchInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Branch>> getBranchInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getBranch"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/branches/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Branch>(){});
    }

    /**
     * Поиск филиала по коду
     * GET /dictionaries/branches#byCode
     *
     * @param code Код филиала (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Филиал с заданным кодом
     * @throws RestClientException в случае неудачи
    */
    public Branch getBranchByCode(String code, long timeout) throws RestClientException {
        return getBranchByCode(code).get(timeout);
    }

    /**
     * Поиск филиала по коду асинхронно
     * GET /dictionaries/branches#byCode
     *
     * @param code Код филиала (optional)
     * @return Филиал с заданным кодом
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Branch> getBranchByCode(String code) throws RestClientException {
        return new ClientRestResult<>(getBranchByCodeInternal(code), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Branch>> getBranchByCodeInternal(String code) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/branches#byCode"));

        if (code != null)
            uriBuilder.param("code", code);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Branch>(){});
    }

    /**
     * Список филиалов
     * GET /dictionaries/branches
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<Branch> listBranches(Pageable pageable, long timeout) throws RestClientException {
        return listBranches(pageable).get(timeout);
    }

    /**
     * Список филиалов асинхронно
     * GET /dictionaries/branches
     *
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<Branch>> listBranches(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(listBranchesInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<Branch>>> listBranchesInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/branches"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<Branch>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
