/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.DivisionCode;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class DivisionCodesClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public DivisionCodesClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Создание кода подразделения
     * POST /dictionaries/division-codes
     *
     * @param divisionCode Данные коде подразделения (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Созданный код подразделения
     * @throws RestClientException в случае неудачи
    */
    public DivisionCode createDivisionCode(DivisionCode divisionCode, long timeout) throws RestClientException {
        return createDivisionCode(divisionCode).get(timeout);
    }

    /**
     * Создание кода подразделения асинхронно
     * POST /dictionaries/division-codes
     *
     * @param divisionCode Данные коде подразделения (required)
     * @return Созданный код подразделения
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<DivisionCode> createDivisionCode(DivisionCode divisionCode) throws RestClientException {
        return new ClientRestResult<>(createDivisionCodeInternal(divisionCode), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<DivisionCode>> createDivisionCodeInternal(DivisionCode divisionCode) throws RestClientException {
        if (divisionCode == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "divisionCode", "createDivisionCode"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/division-codes"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(divisionCode);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<DivisionCode>(){});
    }

    /**
     * Возвращает информацию о коде подразделения
     * GET /dictionaries/division-codes/{id}
     *
     * @param id Идентификатор кода подразделения (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация о коде подразделения
     * @throws RestClientException в случае неудачи
    */
    public DivisionCode getDivisionCode(Long id, long timeout) throws RestClientException {
        return getDivisionCode(id).get(timeout);
    }

    /**
     * Возвращает информацию о коде подразделения асинхронно
     * GET /dictionaries/division-codes/{id}
     *
     * @param id Идентификатор кода подразделения (required)
     * @return Информация о коде подразделения
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<DivisionCode> getDivisionCode(Long id) throws RestClientException {
        return new ClientRestResult<>(getDivisionCodeInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<DivisionCode>> getDivisionCodeInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getDivisionCode"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/division-codes/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<DivisionCode>(){});
    }

    /**
     * Возвращает информацию о коде подразделения по коду
     * GET /dictionaries/division-codes#byCode
     *
     * @param code Код подразделения (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация о коде подразделения
     * @throws RestClientException в случае неудачи
    */
    public DivisionCode getDivisionCodeByCode(String code, long timeout) throws RestClientException {
        return getDivisionCodeByCode(code).get(timeout);
    }

    /**
     * Возвращает информацию о коде подразделения по коду асинхронно
     * GET /dictionaries/division-codes#byCode
     *
     * @param code Код подразделения (required)
     * @return Информация о коде подразделения
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<DivisionCode> getDivisionCodeByCode(String code) throws RestClientException {
        return new ClientRestResult<>(getDivisionCodeByCodeInternal(code), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<DivisionCode>> getDivisionCodeByCodeInternal(String code) throws RestClientException {
        if (code == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "code", "getDivisionCodeByCode"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/division-codes#byCode"));

        if (code != null)
            uriBuilder.param("code", code);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<DivisionCode>(){});
    }

    /**
     * Список кодов подразделений
     * GET /dictionaries/division-codes
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<DivisionCode> listDivisionCodes(Pageable pageable, long timeout) throws RestClientException {
        return listDivisionCodes(pageable).get(timeout);
    }

    /**
     * Список кодов подразделений асинхронно
     * GET /dictionaries/division-codes
     *
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<DivisionCode>> listDivisionCodes(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(listDivisionCodesInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<DivisionCode>>> listDivisionCodesInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/division-codes"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<DivisionCode>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
