/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.ExternalSystemError;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class ExternalSystemsErrorsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public ExternalSystemsErrorsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Создание ошибки внешней системы
     * POST /dictionaries/external-system-errors
     *
     * @param externalSystem Данные об ошибке внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Созданная ошибка внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystemError createExternalSystemsError(ExternalSystemError externalSystem, long timeout) throws RestClientException {
        return createExternalSystemsError(externalSystem).get(timeout);
    }

    /**
     * Создание ошибки внешней системы асинхронно
     * POST /dictionaries/external-system-errors
     *
     * @param externalSystem Данные об ошибке внешней системы (required)
     * @return Созданная ошибка внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystemError> createExternalSystemsError(ExternalSystemError externalSystem) throws RestClientException {
        return new ClientRestResult<>(createExternalSystemsErrorInternal(externalSystem), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystemError>> createExternalSystemsErrorInternal(ExternalSystemError externalSystem) throws RestClientException {
        if (externalSystem == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "externalSystem", "createExternalSystemsError"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-system-errors"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(externalSystem);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystemError>(){});
    }

    /**
     * Удаление ошибки внешней системы
     * DELETE /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteExternalSystemsError(Long id, long timeout) throws RestClientException {
        return deleteExternalSystemsError(id).get(timeout);
    }

    /**
     * Удаление ошибки внешней системы асинхронно
     * DELETE /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteExternalSystemsError(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteExternalSystemsErrorInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteExternalSystemsErrorInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteExternalSystemsError"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-system-errors/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Редактирование ошибки внешней системы
     * PUT /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @param externalSystem Данные об ошибке внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Сохраненная ошибка внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystemError editExternalSystemsError(Long id, ExternalSystemError externalSystem, long timeout) throws RestClientException {
        return editExternalSystemsError(id, externalSystem).get(timeout);
    }

    /**
     * Редактирование ошибки внешней системы асинхронно
     * PUT /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @param externalSystem Данные об ошибке внешней системы (required)
     * @return Сохраненная ошибка внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystemError> editExternalSystemsError(Long id, ExternalSystemError externalSystem) throws RestClientException {
        return new ClientRestResult<>(editExternalSystemsErrorInternal(id, externalSystem), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystemError>> editExternalSystemsErrorInternal(Long id, ExternalSystemError externalSystem) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "editExternalSystemsError"));
        if (externalSystem == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "externalSystem", "editExternalSystemsError"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-system-errors/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(externalSystem);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystemError>(){});
    }

    /**
     * Возвращает информацию об ошибке внешней системе
     * GET /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация об ошибке внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystemError getExternalSystemsError(Long id, long timeout) throws RestClientException {
        return getExternalSystemsError(id).get(timeout);
    }

    /**
     * Возвращает информацию об ошибке внешней системе асинхронно
     * GET /dictionaries/external-system-errors/{id}
     *
     * @param id Идентификатор ошибки внешней системы (required)
     * @return Информация об ошибке внешней системы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystemError> getExternalSystemsError(Long id) throws RestClientException {
        return new ClientRestResult<>(getExternalSystemsErrorInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystemError>> getExternalSystemsErrorInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getExternalSystemsError"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-system-errors/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystemError>(){});
    }

    /**
     * Список ошибок внешних систем
     * GET /dictionaries/external-system-errors
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<ExternalSystemError> listExternalSystemsErrors(Pageable pageable, long timeout) throws RestClientException {
        return listExternalSystemsErrors(pageable).get(timeout);
    }

    /**
     * Список ошибок внешних систем асинхронно
     * GET /dictionaries/external-system-errors
     *
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<ExternalSystemError>> listExternalSystemsErrors(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(listExternalSystemsErrorsInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<ExternalSystemError>>> listExternalSystemsErrorsInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-system-errors"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<ExternalSystemError>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
