/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.ExternalSystem;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class ExternalSystemsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public ExternalSystemsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Создание внешней системы
     * POST /dictionaries/external-systems
     *
     * @param externalSystem Данные о внешней системе (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Созданная внешняя система
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystem createExternalSystem(ExternalSystem externalSystem, long timeout) throws RestClientException {
        return createExternalSystem(externalSystem).get(timeout);
    }

    /**
     * Создание внешней системы асинхронно
     * POST /dictionaries/external-systems
     *
     * @param externalSystem Данные о внешней системе (required)
     * @return Созданная внешняя система
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystem> createExternalSystem(ExternalSystem externalSystem) throws RestClientException {
        return new ClientRestResult<>(createExternalSystemInternal(externalSystem), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystem>> createExternalSystemInternal(ExternalSystem externalSystem) throws RestClientException {
        if (externalSystem == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "externalSystem", "createExternalSystem"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(externalSystem);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystem>(){});
    }

    /**
     * Удаление внешней системы
     * DELETE /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteExternalSystem(Long id, long timeout) throws RestClientException {
        return deleteExternalSystem(id).get(timeout);
    }

    /**
     * Удаление внешней системы асинхронно
     * DELETE /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteExternalSystem(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteExternalSystemInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteExternalSystemInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteExternalSystem"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Редактирование внешней системы
     * PUT /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @param externalSystem Данные о внешней системе (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Сохраненная внешняя система
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystem editExternalSystem(Long id, ExternalSystem externalSystem, long timeout) throws RestClientException {
        return editExternalSystem(id, externalSystem).get(timeout);
    }

    /**
     * Редактирование внешней системы асинхронно
     * PUT /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @param externalSystem Данные о внешней системе (required)
     * @return Сохраненная внешняя система
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystem> editExternalSystem(Long id, ExternalSystem externalSystem) throws RestClientException {
        return new ClientRestResult<>(editExternalSystemInternal(id, externalSystem), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystem>> editExternalSystemInternal(Long id, ExternalSystem externalSystem) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "editExternalSystem"));
        if (externalSystem == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "externalSystem", "editExternalSystem"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.PUT, uriBuilder.build())
                  .body(externalSystem);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystem>(){});
    }

    /**
     * Возвращает информацию о внешней системе
     * GET /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Информация о внешней системе
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystem getExternalSystem(Long id, long timeout) throws RestClientException {
        return getExternalSystem(id).get(timeout);
    }

    /**
     * Возвращает информацию о внешней системе асинхронно
     * GET /dictionaries/external-systems/{id}
     *
     * @param id Идентификатор внешней системы (required)
     * @return Информация о внешней системе
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystem> getExternalSystem(Long id) throws RestClientException {
        return new ClientRestResult<>(getExternalSystemInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystem>> getExternalSystemInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "getExternalSystem"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystem>(){});
    }

    /**
     * Поиск внешней системы по идентификатору
     * GET /dictionaries/external-systems#bySystemId
     *
     * @param systemId Идентификатор системы (например \&quot;BISQUIT:6300\&quot;) (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Внешняя система с заданным кодом
     * @throws RestClientException в случае неудачи
    */
    public ExternalSystem getExternalSystemBySystemId(String systemId, long timeout) throws RestClientException {
        return getExternalSystemBySystemId(systemId).get(timeout);
    }

    /**
     * Поиск внешней системы по идентификатору асинхронно
     * GET /dictionaries/external-systems#bySystemId
     *
     * @param systemId Идентификатор системы (например \&quot;BISQUIT:6300\&quot;) (optional)
     * @return Внешняя система с заданным кодом
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<ExternalSystem> getExternalSystemBySystemId(String systemId) throws RestClientException {
        return new ClientRestResult<>(getExternalSystemBySystemIdInternal(systemId), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<ExternalSystem>> getExternalSystemBySystemIdInternal(String systemId) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems#bySystemId"));

        if (systemId != null)
            uriBuilder.param("systemId", systemId);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<ExternalSystem>(){});
    }

    /**
     * Список внешних систем
     * GET /dictionaries/external-systems
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public RestPageImpl<ExternalSystem> listExternalSystems(Pageable pageable, long timeout) throws RestClientException {
        return listExternalSystems(pageable).get(timeout);
    }

    /**
     * Список внешних систем асинхронно
     * GET /dictionaries/external-systems
     *
     * @return Постраничный вывод результатов поиска
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<RestPageImpl<ExternalSystem>> listExternalSystems(Pageable pageable) throws RestClientException {
        return new ClientRestResult<>(listExternalSystemsInternal(pageable), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<RestPageImpl<ExternalSystem>>> listExternalSystemsInternal(Pageable pageable) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/external-systems"));

        addPageableParams(uriBuilder, pageable);
        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<RestPageImpl<ExternalSystem>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
