/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.GetIdentityDocTypeListRs;
import ru.softlab.efr.common.dict.exchange.model.IdentityDocType;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class IdentityDocTypesClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public IdentityDocTypesClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Удаление типа документа
     * DELETE /dictionaries/identitydoctype/{id}
     *
     * @param id Идентификатор типа документа (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void deleteIdentityDocType(Long id, long timeout) throws RestClientException {
        return deleteIdentityDocType(id).get(timeout);
    }

    /**
     * Удаление типа документа асинхронно
     * DELETE /dictionaries/identitydoctype/{id}
     *
     * @param id Идентификатор типа документа (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> deleteIdentityDocType(Long id) throws RestClientException {
        return new ClientRestResult<>(deleteIdentityDocTypeInternal(id), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> deleteIdentityDocTypeInternal(Long id) throws RestClientException {
        if (id == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "id", "deleteIdentityDocType"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/identitydoctype/{id}")).variable("id", id);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.DELETE, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }

    /**
     * Список типов документов
     * GET /dictionaries/identitydoctype
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Список типов документов
     * @throws RestClientException в случае неудачи
    */
    public GetIdentityDocTypeListRs listIdentityDocTypes(long timeout) throws RestClientException {
        return listIdentityDocTypes().get(timeout);
    }

    /**
     * Список типов документов асинхронно
     * GET /dictionaries/identitydoctype
     *
     * @return Список типов документов
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<GetIdentityDocTypeListRs> listIdentityDocTypes() throws RestClientException {
        return new ClientRestResult<>(listIdentityDocTypesInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<GetIdentityDocTypeListRs>> listIdentityDocTypesInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/identitydoctype"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<GetIdentityDocTypeListRs>(){});
    }

    /**
     * Создание/сохранение типа документа
     * POST /dictionaries/identitydoctype
     *
     * @param identityDocType Данные о типе документа (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void upsertIdentityDocType(IdentityDocType identityDocType, long timeout) throws RestClientException {
        return upsertIdentityDocType(identityDocType).get(timeout);
    }

    /**
     * Создание/сохранение типа документа асинхронно
     * POST /dictionaries/identitydoctype
     *
     * @param identityDocType Данные о типе документа (required)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> upsertIdentityDocType(IdentityDocType identityDocType) throws RestClientException {
        return new ClientRestResult<>(upsertIdentityDocTypeInternal(identityDocType), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> upsertIdentityDocTypeInternal(IdentityDocType identityDocType) throws RestClientException {
        if (identityDocType == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "identityDocType", "upsertIdentityDocType"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/identitydoctype"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(identityDocType);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
