/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.PrintTemplate;
import org.springframework.core.io.Resource;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class PrintTemplatesClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public PrintTemplatesClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * 
     * POST /dictionaries/print-templates
     *
     * @param content Шаблон формы (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Метаданные созданной печатной формы
     * @throws RestClientException в случае неудачи
    */
    public PrintTemplate create(Resource content, long timeout) throws RestClientException {
        return create(content).get(timeout);
    }

    /**
     *  асинхронно
     * POST /dictionaries/print-templates
     *
     * @param content Шаблон формы (optional)
     * @return Метаданные созданной печатной формы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<PrintTemplate> create(Resource content) throws RestClientException {
        return new ClientRestResult<>(createInternal(content), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<PrintTemplate>> createInternal(Resource content) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/print-templates"));

        MultiValueMap<String, Object> multipartMap = new LinkedMultiValueMap<>();
        if (content != null){
           multipartMap.add("content", content);
        } 
        

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(multipartMap);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<PrintTemplate>(){});
    }

    /**
     * Редактирование печатной формы
     * POST /dictionaries/print-templates/{type}
     *
     * @param type Тип печатной формы (required)
     * @param copiesNumber Количество экземпляров при печати (required)
     * @param content Шаблон формы (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Отредактированная печатная форма
     * @throws RestClientException в случае неудачи
    */
    public String edit(String type, Integer copiesNumber, Resource content, long timeout) throws RestClientException {
        return edit(type, copiesNumber, content).get(timeout);
    }

    /**
     * Редактирование печатной формы асинхронно
     * POST /dictionaries/print-templates/{type}
     *
     * @param type Тип печатной формы (required)
     * @param copiesNumber Количество экземпляров при печати (required)
     * @param content Шаблон формы (optional)
     * @return Отредактированная печатная форма
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<String> edit(String type, Integer copiesNumber, Resource content) throws RestClientException {
        return new ClientRestResult<>(editInternal(type, copiesNumber, content), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<String>> editInternal(String type, Integer copiesNumber, Resource content) throws RestClientException {
        if (type == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "type", "edit"));
        if (copiesNumber == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "copiesNumber", "edit"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/print-templates/{type}")).variable("type", type);

        if (copiesNumber != null)
            uriBuilder.param("copiesNumber", copiesNumber);
        MultiValueMap<String, Object> multipartMap = new LinkedMultiValueMap<>();
        if (content != null){
           multipartMap.add("content", content);
        } 
        

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(multipartMap);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<String>(){});
    }

    /**
     * Получение печатной формы по типу без контента
     * GET /dictionaries/print-templates/{type}
     *
     * @param type Тип печатной формы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Метаданные печатной формы
     * @throws RestClientException в случае неудачи
    */
    public PrintTemplate get(String type, long timeout) throws RestClientException {
        return get(type).get(timeout);
    }

    /**
     * Получение печатной формы по типу без контента асинхронно
     * GET /dictionaries/print-templates/{type}
     *
     * @param type Тип печатной формы (required)
     * @return Метаданные печатной формы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<PrintTemplate> get(String type) throws RestClientException {
        return new ClientRestResult<>(getInternal(type), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<PrintTemplate>> getInternal(String type) throws RestClientException {
        if (type == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "type", "get"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/print-templates/{type}")).variable("type", type);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<PrintTemplate>(){});
    }

    /**
     * Получить шаблон печатной формы по типу
     * GET /dictionaries/print-templates/{type}/content
     *
     * @param type Тип печатной формы (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Шаблон печатной формы
     * @throws RestClientException в случае неудачи
    */
    public Resource getContent(String type, long timeout) throws RestClientException {
        return getContent(type).get(timeout);
    }

    /**
     * Получить шаблон печатной формы по типу асинхронно
     * GET /dictionaries/print-templates/{type}/content
     *
     * @param type Тип печатной формы (required)
     * @return Шаблон печатной формы
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Resource> getContent(String type) throws RestClientException {
        return new ClientRestResult<>(getContentInternal(type), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Resource>> getContentInternal(String type) throws RestClientException {
        if (type == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "type", "getContent"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/print-templates/{type}/content")).variable("type", type);

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Resource>(){});
    }

    /**
     * Список печатных форм
     * GET /dictionaries/print-templates
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return Список печатных форм
     * @throws RestClientException в случае неудачи
    */
    public List<PrintTemplate> list(long timeout) throws RestClientException {
        return list().get(timeout);
    }

    /**
     * Список печатных форм асинхронно
     * GET /dictionaries/print-templates
     *
     * @return Список печатных форм
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<List<PrintTemplate>> list() throws RestClientException {
        return new ClientRestResult<>(listInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<List<PrintTemplate>>> listInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/print-templates"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<List<PrintTemplate>>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
