/*
 * API микросервиса общих справочников
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ru.softlab.efr.common.client;

import ru.softlab.efr.common.dict.exchange.model.CheckTerroristRq;
import ru.softlab.efr.common.dict.exchange.model.CheckTerroristRs;
import org.springframework.core.io.Resource;
import ru.softlab.efr.common.dict.exchange.model.UpdateListStatus;

import ru.softlab.efr.infrastructure.transport.client.*;
import ru.softlab.efr.common.utilities.rest.*;
import ru.softlab.efr.common.utilities.rest.client.*;
import ru.softlab.efr.common.utilities.rest.converters.DateParser;
import org.springframework.data.domain.Pageable;
import org.springframework.data.domain.Sort;

import ru.softlab.efr.infrastructure.transport.client.impl.JmsUriBuilder;

import org.springframework.core.ParameterizedTypeReference;
import org.springframework.http.*;
import org.springframework.util.*;
import org.springframework.util.concurrent.ListenableFuture;
import org.springframework.stereotype.Component;

import java.util.*;

/**
 * Содержит методы для взаимодействия с приложением common-dict-app
 **/
@Component
public class TerroristsClient {
    private static final String REQUIRED_PARAM_ERROR = "Не указан обязательный параметр '%s' при вызове %s";
    private static final String APPLICATION_NAME = "common-dict-app";
    private static final String STATUS_CODE_TEMPLATE = "status code: [%s]";

    private final MicroServiceTemplate microServiceTemplate;

    /**
     * Возвращяет экземпляр класса
     * @param microServiceTemplate - объект, реализующий интерфейс {@link MicroServiceTemplate}
     */
    public TerroristsClient(MicroServiceTemplate microServiceTemplate) {
        this.microServiceTemplate = microServiceTemplate;
    }


    /**
     * Проверка паспортных данных по справочнику экстремистов/террористов
     * POST /dictionaries/terrorist/check
     *
     * @param checkTerroristRq Тело запроса проверки паспортных данных по справочнику экстремистов/террористов (required)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public CheckTerroristRs checkTerrorist(CheckTerroristRq checkTerroristRq, long timeout) throws RestClientException {
        return checkTerrorist(checkTerroristRq).get(timeout);
    }

    /**
     * Проверка паспортных данных по справочнику экстремистов/террористов асинхронно
     * POST /dictionaries/terrorist/check
     *
     * @param checkTerroristRq Тело запроса проверки паспортных данных по справочнику экстремистов/террористов (required)
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<CheckTerroristRs> checkTerrorist(CheckTerroristRq checkTerroristRq) throws RestClientException {
        return new ClientRestResult<>(checkTerroristInternal(checkTerroristRq), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<CheckTerroristRs>> checkTerroristInternal(CheckTerroristRq checkTerroristRq) throws RestClientException {
        if (checkTerroristRq == null)
            throw new RestClientException(String.format(REQUIRED_PARAM_ERROR, "checkTerroristRq", "checkTerrorist"));
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/terrorist/check"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(checkTerroristRq);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<CheckTerroristRs>(){});
    }

    /**
     * Получение текущего статуса процесса обновления справочника экстремистов/террористов
     * GET /dictionaries/terrorist/status
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public UpdateListStatus getTerroristUpdateStatus(long timeout) throws RestClientException {
        return getTerroristUpdateStatus().get(timeout);
    }

    /**
     * Получение текущего статуса процесса обновления справочника экстремистов/террористов асинхронно
     * GET /dictionaries/terrorist/status
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<UpdateListStatus> getTerroristUpdateStatus() throws RestClientException {
        return new ClientRestResult<>(getTerroristUpdateStatusInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<UpdateListStatus>> getTerroristUpdateStatusInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/terrorist/status"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<UpdateListStatus>(){});
    }

    /**
     * Запрос обновления списка экстремистов/террористов
     * GET /dictionaries/terrorist/update
     *
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public UpdateListStatus updateTerroristList(long timeout) throws RestClientException {
        return updateTerroristList().get(timeout);
    }

    /**
     * Запрос обновления списка экстремистов/террористов асинхронно
     * GET /dictionaries/terrorist/update
     *
     * @return 
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<UpdateListStatus> updateTerroristList() throws RestClientException {
        return new ClientRestResult<>(updateTerroristListInternal(), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<UpdateListStatus>> updateTerroristListInternal() throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/terrorist/update"));

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.GET, uriBuilder.build())
                  .build();
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<UpdateListStatus>(){});
    }

    /**
     * 
     * POST /dictionaries/terrorist/update
     *
     * @param content DBF файл справочник террористов (optional)
     * @param timeout таймаут ожидания ответа на асинхронный запрос
     * @throws RestClientException в случае неудачи
    */
    public Void uploadTerrorists(Resource content, long timeout) throws RestClientException {
        return uploadTerrorists(content).get(timeout);
    }

    /**
     *  асинхронно
     * POST /dictionaries/terrorist/update
     *
     * @param content DBF файл справочник террористов (optional)
     * @throws RestClientException в случае неудачи
    */
    public ClientRestResult<Void> uploadTerrorists(Resource content) throws RestClientException {
        return new ClientRestResult<>(uploadTerroristsInternal(content), this::processStatusCodeErrors);
    }

    private ListenableFuture<ResponseEntity<Void>> uploadTerroristsInternal(Resource content) throws RestClientException {
        

        MicroServiceURIBuilder uriBuilder = JmsUriBuilder.service(APPLICATION_NAME)
            .path(cutComments("/dictionaries/terrorist/update"));

        MultiValueMap<String, Object> multipartMap = new LinkedMultiValueMap<>();
        if (content != null){
           multipartMap.add("content", content);
        } 
        

        RequestEntity requestEntity = RequestEntity
                  .method(HttpMethod.POST, uriBuilder.build())
                  .body(multipartMap);
        return microServiceTemplate.exchange(requestEntity,
                    new ParameterizedTypeReference<Void>(){});
    }
    private String cutComments(String path) {
        return path.split("#", 2)[0];
    }

    private void addPageableParams(MicroServiceURIBuilder builder, Pageable pageable) {
        if (pageable != null) {
            builder.param("page", pageable.getPageNumber());
            builder.param("size", pageable.getPageSize());
            Sort sort = pageable.getSort();
            if (sort != null) {
                List<String> sortParams = new ArrayList<>();
                for (Sort.Order next : sort) {
                    sortParams.add(next.getProperty());
                }
                sortParams.add(sort.getOrderFor(sortParams.get(0)).getDirection().name());
                builder.param("sort", String.join(",", sortParams));
            }
        }
    }

    private void processStatusCodeErrors(Exception e) throws RestClientException {
            HttpStatus statusCode = RestUtils.getStatusCode(e);
            if (statusCode != null) {
                switch (statusCode) {
                    case INTERNAL_SERVER_ERROR:
                        throw new RestClientException(String.format(STATUS_CODE_TEMPLATE, HttpStatus.INTERNAL_SERVER_ERROR.toString()));
                    case CONFLICT:
                        throw new EntityExistsException();
                    case NOT_FOUND:
                        throw new NotFoundException();
                }
            }
            throw new RestClientException(e.toString());
    }
}
